@import '~antd/dist/antd.css';

.Content {
  min-height: 100vh;
}

.Sider > * {
  width: 100%;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: min-content min-content auto;
}

.Sider-head {
  height: 32px;
  margin: 16px;
  background: #ddd;
}

.Sider-buttons {
  align-self: end;
  margin: 16px;
}

.Sider-button {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .Sider--sticky {
    overflow: auto;
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
    bottom: 0;
  }
}
