@import '~antd/dist/antd.css';

.Content {
  min-height: 100vh;
}

.Sider > * {
  width: 100%;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: min-content min-content auto;
}

.Sider-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.3em;
  height: 32px;
  margin: 16px;
  color: #1890ff;
}

.Sider-head > svg {
  height: 100%;
  max-width: 32px;
  margin-right: 4px;
}

.Sider-head span {
  color: black;
}

.Sider-buttons {
  align-self: end;
  margin: 16px;
}

.Sider-button {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .Sider--sticky {
    overflow: auto;
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
    bottom: 0;
  }
}
